<%= render "header"%>

<div class="top_page">
  

  <div class="intro-contents">
    <p>Travel Diary</p> 
    <button><%= link_to'ゲストとして始める',users_guest_sign_in_path, class: 'guest_btn', method: :post %></button>
  </div>

  <div class="post-contents">
    <div class="post">
    <p>このアプリでできること</p>
    <% if user_signed_in? %>
      <button><%= link_to '旅行の思い出を投稿する', new_diary_path, class: 'post_btn' %></button>
    <% else %>
      <button><%= link_to '旅行の思い出を投稿する', new_user_session_path, class: 'post_btn' %></button>
    <% end %>
    <p>下にスクロールしてみんなの投稿もチェックしよう</p>
    <p>画像をクリックすると詳しい情報が見れるよ！</p>
    </div>
  </div>

  

  <div class="search-form">
  
    <%= search_form_for(@q, url: search_path) do |f| %>
      <%= f.label :name, '国名' %>
      <%= f.collection_select :country_id_eq, Country.all, :id, :name, include_blank: '指定なし'%>
      <br>
      <%= f.label :name, '都市名'%>
      <%= f.search_field :city_cont %>
      <br>
      <%= f.label :name, 'カテゴリー'%>
      <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定なし'%>
      <br>
      <%= f.submit '検索' %>
      <br>
  </div>
   
    <div class="diary_contents"> 
      <div class="diary_lists grid">
        <% @diary.each do |diary| %>
          <%= link_to diary_path(diary.id), class:"underline" do %>
              <div class="image_content">
                <%= image_tag diary.image, class: "image"%>
                <p>国名： <%= diary.country.name%></p>
                <p>都市名： <%= diary.city%></p>
                <p>カテゴリー： <%= diary.category.name%></p>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>


  <% end %>

</div>

<%= render "footer"%>
