<%= render "header"%>

<div class="top_page">
  
  <%= link_to '旅行の思い出を投稿する', new_diary_path, class: 'post_btn' %>


  <img src="assets/f74820ee2d763cdfa3c107b3857bd45c.jpg" alt="画像" class="top_image">

  <div class="diary_contents">
    <ul class="diary_lists">
      <% @asia_diary.each do |diary| %>
        <%= link_to diary_path(diary.id) do %>
        <li class="diary_list">
        　　 <div class="country_name">
            <p>Country</p> 
            <%= diary.country.name%>
            </div>
            <div class="image_content">
            <%= image_tag diary.image, class: "image"%>
            </div>
            <div class="city_name">
            <p>city</p>
            <%= diary.city%>
            </div>
            <div class="category_name">
            <p>category</p>
            <%= diary.category.name%>
            </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="diary_contents">
    <ul class="diary_lists">
      <% @europe_diary.each do |diary| %>
        <%= link_to diary_path(diary.id) do %>
        <li class="diary_list">
        　　 <div class="country_name">
            <p>Country</p> 
            <%= diary.country.name%>
            </div>
            <div class="image_content">
            <%= image_tag diary.image, class: "image"%>
            </div>
            <div class="city_name">
            <p>city</p>
            <%= diary.city%>
            </div>
            <div class="category_name">
            <p>category</p>
            <%= diary.category.name%>
            </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="diary_contents">
    <ul class="diary_lists">
      <% @africa_diary.each do |diary| %>
        <%= link_to diary_path(diary.id) do %>
        <li class="diary_list">
        　　 <div class="country_name">
            <p>Country</p> 
            <%= diary.country.name%>
            </div>
            <div class="image_content">
            <%= image_tag diary.image, class: "image"%>
            </div>
            <div class="city_name">
            <p>city</p>
            <%= diary.city%>
            </div>
            <div class="category_name">
            <p>category</p>
            <%= diary.category.name%>
            </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="diary_contents">
    <ul class="diary_lists">
      <% @oceania_diary.each do |diary| %>
        <%= link_to diary_path(diary.id) do %>
        <li class="diary_list">
        　　 <div class="country_name">
            <p>Country</p> 
            <%= diary.country.name%>
            </div>
            <div class="image_content">
            <%= image_tag diary.image, class: "image"%>
            </div>
            <div class="city_name">
            <p>city</p>
            <%= diary.city%>
            </div>
            <div class="category_name">
            <p>category</p>
            <%= diary.category.name%>
            </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="diary_contents">
    <ul class="diary_lists">
      <% @north_america_diary.each do |diary| %>
        <%= link_to diary_path(diary.id) do %>
        <li class="diary_list">
        　　 <div class="country_name">
            <p>Country</p> 
            <%= diary.country.name%>
            </div>
            <div class="image_content">
            <%= image_tag diary.image, class: "image"%>
            </div>
            <div class="city_name">
            <p>city</p>
            <%= diary.city%>
            </div>
            <div class="category_name">
            <p>category</p>
            <%= diary.category.name%>
            </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="diary_contents">
    <ul class="diary_lists">
      <% @south_america_diary.each do |diary| %>
        <%= link_to diary_path(diary.id) do %>
        <li class="diary_list">
        　　 <div class="country_name">
            <p>Country</p> 
            <%= diary.country.name%>
            </div>
            <div class="image_content">
            <%= image_tag diary.image, class: "image"%>
            </div>
            <div class="city_name">
            <p>city</p>
            <%= diary.city%>
            </div>
            <div class="category_name">
            <p>category</p>
            <%= diary.category.name%>
            </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>


</div>

<%= render "footer"%>
