<%= render "header"%>

<div class="top_page">
  
  <%= link_to '旅行の思い出を投稿する', new_diary_path, class: 'post_btn' %>


  <img src="assets/3752.jpg_wh860.jpg" alt="画像" class="top_image">

  <div class="search-form">
  <h1>＜他の人の投稿を検索する＞</h1>
    <%= search_form_for(@q, url: search_path) do |f| %>
      <%= f.label :name, '国名' %>
      <%= f.collection_select :country_id_eq, Country.all, :id, :name, include_blank: '指定なし'%>
      <br>
      <%= f.label :name, '都市名'%>
      <%= f.search_field :city_cont %>
      <br>
      <%= f.label :name, 'カテゴリー'%>
      <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定なし'%>
      <br>
      <%= f.submit '検索' %>
      <br>
  </div>
   
  
    <div class="diary_contents"> 
    <ul class="diary_lists">
      <% @diary.each do |diary| %>
        <%= link_to diary_path(diary.id) do %>
          <li class="diary_list">
            <div class="image_content">
            <%= image_tag diary.image, class: "image"%>
            </div>
            <div class="country_name">
            <p>＜国名＞　　
            <%= diary.country.name%></p> 
            </div>
            <div class="city_name">
            <p>＜都市名＞　
            <%= diary.city%></p>
            </div>
            <div class="category_name">
            <p>＜カテゴリー＞
            <%= diary.category.name%></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    </div>    

  <% end %>

</div>

<%= render "footer"%>
