<%= render "header"%>

<div class="top_page">
  

  <div class="intro-contents">
    <h1>Travel Diary</h1> 
    <button><%= link_to'ゲストとして始める',users_guest_sign_in_path, class: 'guest_btn', method: :post %></button>
  </div>
    
    <div class="explain-contents">
      <h2>SERVICES</h2>
    <div class="explain-content">
      <div class="explain">
      <div class="service-icon"><i class="fas fa-user-edit fa-6x"></i></div>
      <div class="service-content">
      <h3>旅行の思い出投稿&共有</h3>
      <p>旅行の思い出を投稿してみんなにシェアしよう！自分の投稿はいつでも編集・削除ができます。</p>
      </div>
      </div>
      <div class="explain">
      <div class="service-icon"><i class="far fa-comments fa-6x"></i></div>
      <div class="service-content">
      <h3>旅先の情報を集める</h3>
      <p>他の人の投稿を見て旅行の計画を立てよう！検索したり、行ってみたい国を見てみよう！コメントして質問もできます。</p>
      </div>
      </div>
      <div class="explain">
      <div class="service-icon"><i class="fas fa-book fa-6x"></i></div>
       <div class="service-content">
      <h3>思い出を振り返る</h3>
      <p>自分だけの特別なページで思い出を振り返ろう！マイページでいつでも自分の思い出を確認できます。</p>
      </div>
      </div>
    </div>
  </div>
  
  <div class="post-contents">
    <h4>LET'S START</h4>
    <div class="post">
      <% if user_signed_in? %>
        <button><%= link_to '旅行の思い出を投稿する', new_diary_path, class: 'post_btn' %></button>
      <% else %>
        <button><%= link_to '旅行の思い出を投稿する', new_user_session_path, class: 'post_btn' %></button>
      <% end %>
    </div>
  </div>
  

  <div class="search-form">
  
    <%= search_form_for(@q, url: search_path) do |f| %>
      <%= f.label :name, '国名' %>
      <%= f.collection_select :country_id_eq, Country.all, :id, :name, include_blank: '指定なし'%>
      <br>
      <%= f.label :name, '都市名'%>
      <%= f.search_field :city_cont %>
      <br>
      <%= f.label :name, 'カテゴリー'%>
      <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定なし'%>
      <br>
      <%= f.submit '検索' %>
      <br>
  </div>
   
    
    <div class="diary_contents"> 
      <div class="diary_lists grid">
        <% @diary.each do |diary| %>
          <%= link_to diary_path(diary.id), class:"underline" do %>
              <div class="image_content">
                <%= image_tag diary.image, class: "image"%>
                <p>国名： <%= diary.country.name%></p>
                <p>都市名： <%= diary.city%></p>
                <p>カテゴリー： <%= diary.category.name%></p>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
    

  <% end %>

</div>

<%= render "footer"%>
