
<%= render "header"%>

<div class="new_page">

  <div class="new-message">
  旅行の思い出を投稿しよう
  </div>

<div class="form">
  <%= form_with model: @diary, local: true do |f| %>
    <div class="file-upload">
      <div class="box-explaination">画像選択
      <span class="indispensable">必須</span>
      </div>
    <%= f.file_field :image %>
    </div> 
    <div class="country-select-box">
      <div class="box-explaination">国選択
      <span class="indispensable">必須</span>
      </div>
    <%= f.collection_select :country_id, Country.all, :id, :name, {}, {class:"country-select"} %> 
    </div>
    <div class="city-name-input">
      <div class="box-explaination">都市名
      <span class="indispensable">必須</span>
      </div>
    <%= f.text_field :city, placeholder: "city name" %> 
    </div>
    <div class="category-select-box">
    <div class="box-explaination">カテゴリー選択
      <span class="indispensable">必須</span>
      </div>
    <%= f.collection_select :category_id, Category.all , :id, :name, {}, {class:"category-select"} %> 
    </div>
    <div class="travel-date-input">
      <div class="box-explaination">旅行日付
      <span class="indispensable">必須</span>
      </div>
    <%= f.text_field :date, placeholder: "travel date", class:"travel-date" %> 
    </div>
    <div class="recommendations-input">
      <div class="box-explaination">おすすめ
      <span class="indispensable">必須</span>
      </div>
      <%=f.text_area :recommendations, placeholder: "recommendations", class:"recommendations-box"%> 
    </div>
    <div class="things-to-avoide-input">
      <div class="box-explaination">注意点
      </div>
    <%= f.text_area :things_to_avoide, placeholder: "things to avoide", class:"things-to-avoide-box" %> 
    </div>
    <div class="things_to_bring_input">
      <div class="box-explaination">持っていくべきもの
      </div>
    <%= f.text_area :things_to_bring, placeholder: "things to bring", class:"things-to-bring-box" %>
    </div>
    <%= f.submit '投稿する'%>
  <% end %>
</div>


</div>

<%= render "footer"%>
