<%= render "header"%>


<h1>＜検索結果＞</h1>

<div class="search-page">
  <% if @results.length !=0 %>
    <div class="diary_contents">
      <ul class="diary_lists">
        <% @results.each do |result| %>
          <%= link_to diary_path(result.id) do %>
            <li class="diary_list">
              <div class="image_content">
              <%= image_tag result.image, class: "image"%>
              </div>
              <div class="country_name">
              <p>国名：
              <%= result.country.name%></p>
              </div>
              <div class="city_name">
              <p>都市：
              <%= result.city%></p>
              </div>
              <div class="category_name">
              <p>カテゴリー：
              <%= result.category.name%></p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% else%>
  この検索による結果は見つかりませんでした。
  <% end %>

  <div class="top-page-btn">
    <%= link_to 'トップページへ戻る', root_path %>
  </div>

   
<%= render "footer"%>

</div>