<%= render "header"%>

<h1>diary#show</h1>


  
  <div class="image-content">
    <%= image_tag @diary.image, class: "image"%>
  </div>
  <div class="table">
  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-diary">旅行日時</th>
        <td class="detail-value"><%= @diary.date%></td>
      </tr>
      <tr>
        <th class="detail-diary">国名</th>
        <td class="detail-value"><%= @diary.country.name%></td>
      </tr>
      <tr>
        <th class="detail-diary">市</th> 
        <td class="detail-value"><%= @diary.city%></td>
      </tr>
      <tr>
        <th class="detail-diary">カテゴリー</th>
        <td class="detail-value"><%= @diary.category.name%></td>
      </tr>
      <tr>
        <th class="detail-diary">おすすめ</th> 
        <td class="detail-value"><%= @diary.recommendations%></td>
      </tr>
      <tr>
        <th class="detail-diary">注意点</th>
        <td class="detail-value"><%= @diary.things_to_avoide%></td>
      </tr>
      <tr>
        <th class="detail-diary">持っていくべきもの</th>
        <td class="detail-value"><%= @diary.things_to_bring%></td>
      </tr>
     </tbody>
  </table>
  </div>
  
  <% if @diary.user_id == current_user.id %>
    <div class="post-delete">
      <%=link_to 'この投稿を削除する', diary_path(@diary.id), method: :delete, class:'delete-btn' %>
    </div>
  <% end %>


  <%= link_to 'トップページへ戻る', root_path %>

  <%= render "footer"%>

