<%= render "header"%>

<h1>diary#show</h1>


  <div class="country-name">
  <%= @diary.country.name%>
  </div>
  <div class="image-content">
    <%= image_tag @diary.image, class: "image"%>
  </div>
  <div class="city-name">
  <%= @diary.city%>
  </div>
  <div class="category-name">
  <%= @diary.category.name%>
  </div>
  <div class="recommendations">
  <%= @diary.recommendations%>
  </div>
  <div class="things_to_avoide">
  <%= @diary.things_to_avoide%>
  </div>
  <div class="things_to_bring">
  <%= @diary.things_to_bring%>
  </div>

  <%= render "footer"%>

