<%= render "header"%>


  
  <div class="image-content">
    <%= image_tag @diary.image, class: "image"%>
  </div>
  <div class="table">
  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-diary">旅行日時</th>
        <td class="detail-value"><%= @diary.date%></td>
      </tr>
      <tr>
        <th class="detail-diary">国名</th>
        <td class="detail-value"><%= @diary.country.name%></td>
      </tr>
      <tr>
        <th class="detail-diary">市</th> 
        <td class="detail-value"><%= @diary.city%></td>
      </tr>
      <tr>
        <th class="detail-diary">カテゴリー</th>
        <td class="detail-value"><%= @diary.category.name%></td>
      </tr>
      <tr>
        <th class="detail-diary">おすすめ</th> 
        <td class="detail-value"><%= @diary.recommendations%></td>
      </tr>
      <tr>
        <th class="detail-diary">注意点</th>
        <td class="detail-value"><%= @diary.things_to_avoide%></td>
      </tr>
      <tr>
        <th class="detail-diary">持っていくべきもの</th>
        <td class="detail-value"><%= @diary.things_to_bring%></td>
      </tr>
     </tbody>
  </table>
  </div>
  
  <% if @diary.user_id == current_user.id %>
    <div class="edit-delete-form">
    <div class="post-edit">
      <%=link_to 'この投稿を編集する', edit_diary_path(@diary.id), class:"edit-btn" %>
    </div>
    <div class="post-delete">
      <%=link_to 'この投稿を削除する', diary_path(@diary.id), method: :delete, class:'delete-btn' %>
    </div>
    </div>
  <% end %>

  <div class="comments-form">
    <%= form_with(model: [@diary,@comment], local: true) do |f| %>
      <%= f.text_area :comment, placeholder: 'コメントする', class:"comment-content"%>
      <%= f.submit 'SEND'%>
    <% end %>
  </div>
  <div class="comments">
    <h1>＜コメント一覧＞</h1>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <%= comment.user.nickname %>：
          <%= comment.comment %>
        </p>
      <% end %>
    <% end %>
  </div>
  
  <%= link_to 'トップページへ戻る', root_path %>

  <%= render "footer"%>

